<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projectmanage">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Projects.Tasks.TaskAdd"></activity>
        <activity android:name=".Projects.Tasks.MainTaskActivity" />
        <activity android:name=".Projects.ProjectAddUser" />
        <activity android:name=".Notes.MainNoteActivity" />
        <activity android:name=".Projects.ProjectAdd" />
        <activity android:name=".Projects.ProjectActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity
            android:name=".Notes.NoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Projects.Tasks.TaskActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Notes.NoteAdd"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Settings.SettingsActivity" />
    </application>

</manifest>